
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.text-color{
    color: rgb(223, 245, 31);
}

a{
    text-decoration: none;
    color:white;
    font-size: 20px;
}
a:hover{
    color:black;
}

.fawsom-color{
    color:rgb(175, 175, 175);
}
.font-size{
    font-size: 15px;
}

.b-radious{
    border-radius: 20px;
  
}

/* package */

.hot-1{
    position: relative;
}
.hot-2{
    position: absolute;
    top:0;
   right:30px;
}

.btn-package{
    padding: 10px 65px;
    border-radius: 20px;
    border:none;
    font-weight: bold;
}
.btn-pak:hover{
    background-color: rgb(25, 25, 204);
    color:white;
}

.toast-border{
    border-left: 8px solid rgb(59, 76, 231) ;
    top:0;
    right:0;
    position:absolute;
}

.toast-relative{
    position: relative;
}

.phover:hover{
    background-color:#3F50F5;
    transform: scale(1.5);
    transition: all 1.5s ease;
    z-index: 5;
    color:white;
}

